

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row
    
      ". . ."
      ". . ."
      ". . ."
      ". . .";
  }

  .bg{
      margin-top: 0px;
      width:100%;
       
      
  }

  .pics{
      width:10px;
      height:5px;
  }

  .raisin{
      
  }

  .april{
      background-color: grey;
      border-style: solid;
  }